@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');
:root{
    --blue:#18244F;
    --orange: #ff4f00;
    --yellow: #ffc100;
    --purple: #b500b6;
    --aqua:#00d1ab;
    --fucsia:#fc0058;
    --green: #a6cf56;
    --rose: #d85173;
}
body {
    margin: 0;
    padding: 0;
    color:var(--blue);
    font-family: 'Montserrat', sans-serif;
}

.c1{
    color: var(--orange);
}
.c2{
    color: var(--yellow);
}
.c3{
    color: var(--purple);
}
.c4{
    color: var(--aqua);
}
.c5{
    color: var(--fucsia);
}
.c6{
    color: var(--green);
}
.c7{
    color: var(--rose);
}
#planifica-verano-tab, #vacaciones-chile-tab, #pase-movilidad-tab,#testeate-tab,#fronteras-protegidas-tab, #panoramas-responsables-tab{
    background-color: inherit;
}


.nav-pills {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
}
li.nav-item {
    display: contents;
    text-align: center;
}   

#pills > ul.nav-pills > .nav-item >.nav-link:hover{
    transform: scale(1.05);

}

/* panels */
.tab-content {
    margin-top: 40px;
}
.tab-pane {
    background-color: #fafafa;
    padding: 1rem 4rem 2rem;
}
#planifica-verano{
    border-top: 10px solid var(--orange);
    border-radius: 10px;
} 

#vacaciones-chile{
    border-top: 10px solid var(--yellow);
    border-radius: 10px;
}


#pase-movilidad{
    border-top: 10px solid var(--purple);
    border-radius: 10px;
}
#testeate{
    border-top: 10px solid var(--aqua);
    border-radius: 10px;
}
#fronteras-protegidas{
    border-top: 10px solid var(--fucsia);
    border-radius: 10px;
}
#panoramas-responsables{
    border-top: 10px solid var(--green);
    border-radius: 10px;
}
.tab-content > div > div > div > h2 {
    color: var(--blue);
    text-align: center;
    margin-bottom: 3rem;
    font-size: 3rem;
}

.box-container a {
   color: var(--var-blue); 
   text-decoration: none;
}
 .box-container a:hover{
    color: var(--var-blue); 
    text-decoration: none;
 }
/* NAV */

nav#menu > div > ul.nav> .nav-item > .nav-link {
    color: var(--blue);
    transition: all .5s ease-out;
}
nav#menu > div > ul.nav> .nav-item > .nav-link:hover {
    transform: scale(1.2);
    opacity: 0.5;
}
.hero {
    background-image: url('/img/bg-hero.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.hero-niac{
    background-image: url('/img/bg-niac.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.pre-footer{
    background-image: url('/img/footer-niac.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 500px;
}
.logo {
    height: 40px;
    margin-top: -25px;
}

.info {
    border: 4px solid #02a393;
    border-radius: 40px;
  
}
.bt-descarga{
    display: block;
    margin-left: auto;
    margin-right: auto;
    background-color:#A6CF56;
    color: #FFFFFF;
    font-weight: bold;
}
.icon-1 {
    width: 3.125rem;
}
.im-1,.im-2,.im-2,.im-3,.im-4,.im-5,.im-6{
    display: none;
}
/* ----------------------- FOOTER ----------------------- */
.footer {
    bottom: 0;
    width: 100%;
    line-height: 1.5rem;
    background-color: #001c41;
    color: #ffffff;
    position: relative;
}

.border-bottom {
    border-bottom: 1px solid #192e85 !important;
}
.separa-logo {
    display: inline-block;
}
.gob-txt{
    line-height: 1.2rem;
    text-align: right;
}
.redes-sociales{
    display:flex;
    justify-content:stretch;
    justify-content: center;
    border-left: 2px solid white;
}

.socialmedia{
    display: flex;
    text-align: left;
    flex-direction: row;
}

footer a, footer a:visited, footer a:active{
    color: #ffffff;
    font-weight: 400;
}
footer a:hover {
    color: white;
    text-decoration: none;
}
/* mantiene el logo de gob en el bottom de la pagina */
.vertical-align-bottom{
    position: absolute;
    bottom: 0;
}

/* ----------------------- REDES SOCIALES ----------------------- */
.fa-instagram, .fa-twitter, .fa-facebook-f, .fa-linkedin {
    padding: 5px 8px;
    font-size: 1.2rem;
    display:flex;
    justify-content: space-around;
    transition: all 0.3s ease-in-out;
    color: #FFFFFF;
}


.col-12, .col-md-9, .col-lg-9, .col-4, .col-md-4, .col-md-3, .col-lg-3, .col {
    float: left;
}


ul li {
    padding-bottom: 15px;
}

.separador {
    color: #0F69C4;
}

.box-container {
    column-gap: 20px;
    row-gap: 40px;
    display: grid;
    padding: 1rem 0 4rem 0;
    height: 100%;
    background: border-box;
    grid-template-columns: repeat(6, 1fr);
}
.box-item {
    padding: 1rem;
    border-radius: 3rem;
    margin-top: 3rem;
    text-align: center;
    font-size: 1rem;
    align-items: center;
    font-weight: bold;
    display: grid;
    grid-template-rows: 0 80% auto;
}
.box-item > .fa-chevron-down{
    font-size:1rem;
}

.container-fluid:not(.hero){
    max-width: 1400px;
}
@media (max-width: 1360px) {
    .container{
        max-width: 1360px;
    }
}

@media (max-width: 992px) {
    .titulo {
        padding: 2rem;
        font-size:1.325rem;
    }
    
    .box-container {
     
        grid-template-columns: 100%;
    }
    .info{
        font-size:1.2rem;
    }
    .logo {
        height: 30px;
        margin-top: -30px;
    }
    .nav-pills {
        grid-template-columns: repeat(3, 1fr);
    }
    .i-1,.i-2,.i-2,.i-3,.i-4,.i-5,.i-6{
        display: none;
    }
    .im-1,.im-2,.im-2,.im-3,.im-4,.im-5,.im-6{
        display: block;
    }
}
@media (max-width: 768px) {
    .nav-pills {
        grid-template-columns: repeat(2, 1fr); 
    }
    .tab-pane {
        padding: 1rem;
    }
    .separa-logo {
        display: grid;
        grid-template-rows: 45px 46px;
        row-gap: 20px;
    }
    .gob-txt{
        text-align: left;
    }
    .pre-footer{
        height: 300px;
    }
}
@media (max-width: 500px) {
    .nav-pills {
        grid-template-columns: 100%;
    }
    .tab-content > div > div > div > h2{
        font-size: 1.375rem;
    }
   
    .nav-pills {
        row-gap: 10px;
    }

 /*    .fa-exclamation{
        height: 33px;
        width: 130px;
        padding-top: 10px;
    } */
/*     .gob-txt{
        visibility:none;
        display: none;
    } */
    .pre-footer{
        height: 200px;
    }
}

